<!DOCTYPE html>

<html>

    <head>
        <title>My  Employee's list</title>
        <style>
            a {
                text-decoration: none;
                color: green;
            }

        </style>
    </head>

    <body>
        <h1><font color="Red"> HI VijayKumarThotharamudi How are you otday ? I hope you are Doing great and Feeling High😍</font></h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
        <marquee bg color="yellow" ><font color="green"> I am very inteersted in this DevOps topic from the past few months </font></marquee>
    </body>
  
</html>
